{% extends 'base.html.twig' %}

 
 {% block body %}

   <div class="container mt-5">

      <div class="col-md-10 offset-1">
         <div class="card p-3">
            <a class="btn retour" href="{{ path('index') }}">Retour</a>
            <img src={{ article.photo }} class="img-fluid" alt="">
            <div class="card-header">{{ article.date | date('d/m/Y') }}</div>
            <div class="card-body">
               <h4 class="card-title">{{ article.title }}</h4>
               <p class="card-text">{{ article.description }}</p>
            </div>
         </div>
      </div>

      <div class="container mt-3">
         <div class="row">
            <div class="col-lg-4 col-sm">
               {{ form(form) }}
            </div>
            <div class="col-lg-8 col-sm">
               {% for comment in article.comments %}
                  <div class="comment">
                     <div class="row">
                        <div class="col-10 p-2 texts">
                           <h5>{{comment.pseudo}}</h5>
                           <h6 class="mb-2 text-muted">{{comment.createdAt | date("d/m/Y")}}</h6>
                           <p class="mb-2">{{comment.content}}</p>
                        </div>
                        <div class="col-2 pt-3 like-btn">
                           <a href="#" class="btn btn-success">Liker</a>
                        </div>
                     </div> 
                  </div>
               {% endfor %}
            </div>
         </div>
      </div>

   </div>   

{% endblock %}